@import "tailwindcss";

@theme {
  /* Custom Theme Variables */
  --color-brown: #96705b; 
  --color-vanilla: #F1E8B8;
  --color-periwinkle: #dac4f7; 
  --color-darkpurple: #501537;
  --color-orange: #FFD29D;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: "Geist Sans", Arial, sans-serif;
  --font-mono: "Geist Mono", monospace;
}

/* Dark Mode Variables
@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
} */

/* Apply to Body */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
